* {
  margin: 10px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font: 1 rem;
  display: flex;
  justify-content: center;
  text-align: center;
}


.btn-twin-button {
  outline: none;
  background-color: #404040;
  border: 1px solid green;
  color: gainsboro;
  padding: 10px;
  margin: 0;
  width: 80px;
  cursor: pointer;
  float: center;
}

.btn-twin button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-twin:after {
  content: "";
  clear: both;
  display: table;
}

.btn-selected {
  background-color: #4CAF50;
  color: white;
}

#loader-container {
  position: relative;
}

#loader {
  position: absolute;
  left: 50%;
  top: 120px;
  z-index: 2;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid lightblue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}